@use '@angular/material' as mat;

:host{
 height: 100%;

  @include mat.sidenav-overrides((
    container-width:950px
  ))
}

.container {
  height: 100%;
}

.workout-container{
  height: 100%;
  width: 100%;
}


.content{
  height: 100%;
  width: 100%;
}

::ng-deep .exercise-container {
  width: 260px;
  margin: 10px;
  border: 3px solid #D1D9E6;
  border-radius: 40px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::ng-deep .cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

::ng-deep .cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::ng-deep .exercise-list.cdk-drop-list-dragging .exercise-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::ng-deep .images {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;

  .image-container {
    width: 130px;
    height: 130px;
    border-radius: 30px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}
