.workouts-plan-container{
  height: 800px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin:25px;
  overflow: hidden;
  & .mat-mdc-tab-group {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.workout-container{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}
