<form [formGroup]="filters" class="filters">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input type="text"
           matInput
           formControlName="search"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline" >
    <mat-label >Muscle</mat-label >
    <mat-select formControlName="muscleGroup" multiple >
      @for (muscleOption of muscleGroupOptions; track muscleOption.value) {
        <mat-option [value]="muscleOption.value" >
          {{ muscleOption.label }}
        </mat-option >
      }
    </mat-select >
  </mat-form-field >

  <mat-form-field appearance="outline" >
    <mat-label >Body Position</mat-label >
    <mat-select formControlName="bodyPosition" multiple >
      @for (bodyPosition of bodyPositionsOptions; track bodyPosition.value) {
        <mat-option [value]="bodyPosition.value" >
          {{ bodyPosition.label }}
        </mat-option >
      }
    </mat-select >
  </mat-form-field >

  <mat-form-field appearance="outline">
    <mat-label>Location</mat-label>
    <mat-select formControlName="location" multiple>
      @for (location of locationOptions; track location.value) {
        <mat-option [value]="location.value">
          {{ location.label }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" >
    <mat-label >Unilateral Type</mat-label >
    <mat-select formControlName="unilateralType" multiple >
      @for (unilateralType of unilateralTypeOptions; track unilateralType.value) {
        <mat-option [value]="unilateralType.value" >
          {{ unilateralType.label }}
        </mat-option >
      }
    </mat-select >
  </mat-form-field >

  <mat-form-field appearance="outline" >
    <mat-label >Joint Complexity</mat-label >
    <mat-select formControlName="jointComplexity" multiple >
      @for (jointComplexity of jointComplexityOptions; track jointComplexity.value) {
        <mat-option [value]="jointComplexity.value" >
          {{ jointComplexity.label }}
        </mat-option >
      }
    </mat-select >
  </mat-form-field >

  <mat-form-field appearance="outline">
    <mat-label >Load Type</mat-label >
    <mat-select formControlName="loadType" multiple >
      @for (loadType of loadTypeOptions; track loadType.value) {
        <mat-option [value]="loadType.value" >
          {{ loadType.label }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Exercise type</mat-label>
    <mat-select formControlName="exerciseType" multiple>
      @for (exerciseType of exerciseTypeOptions; track exerciseType.value) {
        <mat-option [value]="exerciseType.value">
          {{ exerciseType.label }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button matButton (click)='resetFilters()' >Reset Filters</button >

<!--  <button matButton type="submit">Apply Filters</button>-->
</form>

<div class='active-filters' >
  <mat-chip-set aria-label="Active filters" >
    @for (chip of activeFilters(); track chip) {
      <mat-chip >{{ chip }}</mat-chip >
    }
  </mat-chip-set >
</div >
