:host {
  width: 100%;
  padding: 15px;

  .filters {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    align-items: start;

    mat-form-field {
      width: 100%;
    }
  }

  .active-filters {
    margin: 10px;
  }
}
