.exercise-layout-container {
  width: 350px;
  border: 4px solid #D1D9E6;
  border-radius: 34px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  position: relative;

  &:hover .close {
    visibility: visible;
  }


  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    visibility: hidden;
  }

  .image-container {
    height: 174px;
  }

  .set-container {
    width: 100%;

    .set {
      margin: 5px;
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;
      gap: 5px;
      align-items: center;
      border-radius: 69px;
      background-color: #F5F7FA;
      padding: 8px 15px;

      .control-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
          border-radius: 34px;
          width: 45px;
          height: 23px;
          text-align: center;
          border: none;

          &.invalid {
            border: 2px solid red;
          }
        }

      }

      .actions {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #0057b8;
      }
    }
  }

}
