.exercise-layout-container {
  width: 350px;
  height: 610px;
  border: 4px solid #D1D9E6;
  border-radius: 34px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;

  .image-container {
    width: 100%;
    height: 174px;
    border: 1px solid red;
  }

  .set-container {
    width: 100%;

    .set {
      margin: 5px;
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;
      gap: 5px;
      align-items: center;
      border-radius: 69px;
      background-color: #F5F7FA;
      padding: 8px 15px;

      .control-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
          border-radius: 34px;
          width: 45px;
          height: 23px;
          text-align: center;
          border: none;
        }
      }

      .actions {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #0057b8;
      }
    }
  }

}
