<div class="exercise-layout-container">
  <div class="image-container">
    img
  </div>
  <h1>{{exercise().name}}</h1>
  <div class="set-container">

    @for (set of sets.controls; track set; let i = $index){
      <div class="set">
        {{i + 1 }}
        <div class="control-container">
          <label>Reps</label>
          <input [formControl]="set.controls.reps">
        </div>
        <div class="control-container">
          <label>Rest</label>
          <input [formControl]="set.controls.rest">
        </div>
        <div class="control-container">
          <label>Weight</label>
          <input [formControl]="set.controls.weight">
        </div>
        <div class="control-container">
          <label>Effort</label>
          <input [formControl]="set.controls.effort">
        </div>
        <div class="actions">
          <mat-icon svgIcon="stack" ></mat-icon >
          <mat-icon svgIcon="delete" ></mat-icon >
        </div>
      </div>
    }

    <button mat-button (click)="addSet()">Add Set</button>
  </div>
</div>
