.exercise-layout-container {
  width: 350px;
  border: 4px solid #D1D9E6;
  border-radius: 34px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  position: relative;

  &:hover .close {
    visibility: visible;
  }


  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    visibility: hidden;
  }

  .image-container {
    height: 174px;
  }

  .set-container {
    width: 100%;

    .set {
      margin: 5px;
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;
      gap: 5px;
      align-items: center;
      border-radius: 69px;
      background-color: #F5F7FA;
      padding: 8px 15px;

      &:hover .actions {
        visibility: visible;
      }

      .control-container {
        display: flex;
        flex-direction: column;
        align-items: center;


        &.percent-input {
          position: relative;

          &::after {
            content: '%';
            position: absolute;
            right: 8px;
            top: 72%;
            transform: translateY(-50%);
            pointer-events: none;
            color: #0057b8;
            font-size: 0.9rem;
          }

          input {
            padding-right: 0.5rem;
          }
        }

        input {
          border-radius: 34px;
          width: 45px;
          height: 23px;
          text-align: center;
          border: none;

          &.invalid {
            border: 2px solid red;
          }
        }

      }

      .actions {
        visibility: hidden;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #0057b8;
      }
    }
  }

}
